<div id="main">
    <div class="content-achivement">
        <h1 id="GT7">Gran Turismo 7</h1>
        <div class="achivement-list">
            {{#if hasDatabaseError}}
            <div>
                Sorry, There was a problem with the Database:{{theError}}
            </div>
            {{else}}
            {{#each GT7Achivement}}
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c{{aid}}" aria-expanded="false" aria-controls="c{{aid}}">
                            <img
                            src="/img/logo.png"
                            class="logo-image"
                            />
                            #{{aid}}  {{aname}}
                            </button>
                        </h2>
                        <div id="c{{aid}}" class="accordion-collapse collapse" >
                            <div class="accordion-body">

                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{/if}}
        </div>    
    </div>
</div>