<div id="main">
    <div class="content">
        {{#if message}}
        <div id="message" class="alert alert-danger" >
            {{message}}
        </div>
        {{else}}
        {{/if}}
        {{#if bookmarks}}
        <h1>User Bookmark</h1>
        <div class="bookmark-list">
            <div>
                <h1>playing</h1>
                {{#each bookmarks}}
                    {{#Equal status 'playing' }}
                    <div class="list-group listGroupForUser">
                        <a  href="/mainpage/{{../gid}}/1" class="list-group-item list-group-item-action ">
                            <img
                            src="{{../gimgURL}}"
                            class="game-image"
                            /><p class="game—text">{{../gname}}</p>
                        </a>
                        
                        <form action="/api/mainpage/delete/:bookmark" method="post">
                            <input type="hidden" name="gname" value="{{../gname}}">
                            <button class="btn w-100 py-2" id="login-btn" type="submit">Delete Bookmark</button> 
                        </form>
                        <form action="/api/mainpage/update/:status" method="post">
                            <input type="hidden" name="gname" value="{{../gname}}">
                            <input type="hidden" name="status" value="{{../status}}">
                            <button class="btn w-100 py-2" id="login-btn" type="submit">Change Status</button> 
                        </form>
                    </div>
                    {{else}}
                    {{/Equal}}
                {{/each}}
            </div>
            <div>
                <h1>played</h1>
                {{#each bookmarks}}
                    {{#Equal status 'played' }}
                    <div class="list-group listGroupForUser">
                        <a href="/mainpage/{{../gid}}/1" class="list-group-item list-group-item-action ">
                            <img
                            src="{{../gimgURL}}"
                            class="game-image"
                            /><p class="game—text">{{../gname}}</p>
                        </a>
                        <form action="/api/mainpage/delete/:bookmark" method="post">
                            <input type="hidden" name="gname" value="{{../gname}}">
                            <button class="btn w-100 py-2" id="login-btn" type="submit">Delete Bookmark</button> 
                        </form>
                        <form action="/api/mainpage/update/:status" method="post">
                            <input type="hidden" name="gname" value="{{../gname}}">
                            <button class="btn w-100 py-2" id="login-btn" type="submit">Change Status</button> 
                        </form>
                    </div>
                    {{else}}
                    {{/Equal}}
                {{/each}}
            </div>
        </div>
        {{else}}
        {{/if}}
        <div class="poplar-game-list">
            <h1>Popular Games</h1>
            {{#if hasDatabaseError}}
            <div>
                Sorry, There was a problem with the Database:{{theError}}
            </div>
            {{else}}
                {{#each popularGames}}
                    <div class="list-group listGroupForGame">
                    <a href="/mainpage/{{gid}}/1" class="list-group-item list-group-item-action ">
                        <img
                        src="{{gimgURL}}"
                        class="game-image"
                        /><p class="game—text">{{gname}}</p><p class="game—text">achivements number:{{gid}}</p>
                        
                    </a>
                    <form action="/api/mainpage/creat/:bookmark" method="post">
                        <input type="hidden" name="gname" value="{{gname}}">
                        <input type="hidden" name="gid" value="{{gid}}">
                        <input type="hidden" name="gimgURL" value="{{gimgURL}}">
                        <button class="btn w-100 py-2" id="login-btn" type="submit">Add to bookemarks</button> 
                    </form>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
